.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 62px;
  border-radius: 8px;
  color: $brand-purple;

  &__main {
    background-color: $brand-purple;
    color: $white;
  }
}
