$theme: 'purple';
@import 'variables';
@import 'reset';
@import 'normalize';
@import 'fonts';

@import '../components/Logo/styles';
@import '../components/Navigation/styles';
@import '../components/Button/styles';
@import '../components/Header/styles';
@import '../components/Hero/styles';
@import '../components/Banner/styles';
@import '../components/Steps/styles';
@import '../components/Features/styles';
@import '../components/CTA/styles';
@import '../components/Footer/styles';
@import '../components/SocialLinks/styles';

body {
  display: flex;
  justify-content: center;
  color: $gray-900;
}

#root, .bueena-landing {
  width: 100%;
}
