$gray-900: #18191F;
$gray-800: #474A57;
$gray-700: #969BAB;
$gray-300: #D9DBE1;
$gray-200: #EEEFF4;
$gray-100: #F4F5F7;
$white: #FFFFFF;
$black: #0B0D17;

$brand-purple: #8C30F5;
$brand-purple-800: #D6B1FF;
$brand-purple-100: #F1E4FF;
$brand-turquoise: #2EC5CE;
$brand-turquoise-800: #75E3EA;
$brand-turquoise-100: #D5FAFC;
$brand-orange: #FE9A22;
$brand-orange-800: #FFC278;
$brand-orange-100: #FFE3C1;
$brand-pink: #F22BB2;
$brand-pink-800: #FF72D2;
$brand-pink-100: #FFB1E6;

$accent-green: #C1E5C0;
$accent-blue: #C0DAE5;
$accent-peach: #F39F9F;
$accent-light-peach: #FDD9D9;
$accent-candy: #FFC3D8;
$accent-cyan: #A0DCFF;

