
$base-font-family: "Manrope", Arial, Helvetica, sans-serif;
$base-font-size: 16px;

$h1-size: 72px;
$h1-height: 98px;
$h1-weight: 800;

$h2-size: 48px;
$h2-height: 64px;
$h2-weight: 800;

$h3-size: 40px;
$h3-height: 54px;
$h3-weight: 800;

$h4-size: 28px;
$h4-height: 40px;
$h4-weight: 800;

$h5-size: 24px;
$h5-height: 32px;
$h5-weight: 600;

$h6-size: 20px;
$h6-height: 30px;
$h6-weight: 500;

$subtitle-1-size: 18px;
$subtitle-1-height: 28px;
$subtitle-1-weight: bold;

$subtitle-2-size: 18px;
$subtitle-2-height: 28px;
$subtitle-2-weight: 500;

$lead-1-size: 18px;
$lead-1-height: 32px;
$lead-1-weight: 400;

$lead-2-size: 14px;
$lead-2-height: 24px;
$lead-2-weight: 500;

$body-1-size: 16px;
$body-1-height: 26px;
$body-1-weight: 400;

$body-2-size: 14px;
$body-2-height: 22px;
$body-2-weight: 400;

$large-label-size: 20px;
$large-label-height: 30px;
$large-label-weight: 600;

$medium-label-size: 14px;
$medium-label-height: 20px;
$medium-label-weight: 700;

$small-label-size: 12px;
$small-label-height: 16px;
$small-label-weight: 600;

$capitalized-size: 14px;
$capitalized-height: 18px;
$capitalized-weight: 800;
$capitalized-transform: uppercase;
$capitalized-spacing: 2px;




