@import './LogosTechnologies/styles';

.banner {
  @include create-bounds();
  background-color: $brand-color-800;
  height: rem(614px);

  &__bounds {
    flex-direction: row;
  }

  &__column {
    display: flex;
    width: 50%;
    flex-grow: 1;
    
    align-items: center;

    &--left {
      justify-content: left;
    }
    &--right {
      justify-content: center;
    }
  }

  &__content {
    width: rem(445px);
    margin-top: rem(30px);
  }

  &__title {
    margin: 0;
  }
  &__description {
    margin-top: rem(8px);
  }
}
